<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Revisión de Evidencias</title>
</head>
<body>
    {% if pdf and doc %}
    <object data="{{MEDIA_URL}}{{doc}}" type="application/pdf" width="900" height="350">
        alt : <a href="{{MEDIA_URL}}{{doc}}">Archivo PDF</a>
    </object>
    {% elif doc %}
        <p>Este documento no se puede visualizar. Puede descargarlo de este <a href="{{MEDIA_URL}}{{doc}}">enlace</a>.</p>
    {% else %}
        <p class="well">No hay ningún archivo asociado a esta meta.</p>
    {% endif%}
</body>
</html>