{# Template Lista de Avisos #}
{% extends "2014/base.html" %}

{% block contenido %}
<div class="page-header">
  <h1>
    <span class="icon-meter-fast"></span> {{title}}
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" role="form" action="{% url 'usuarios_add' %}" method="post">
      {% csrf_token %}

      <!-- username -->
      <div class="form-group {% if form.username.errors %}has-error{% endif %}">
        <label class="text-right col-sm-3 control-label"  for="id_username">
          {% if form.username.errors %}
            <span class="label label-danger">Error</span>
          {% endif %}
          Nombre de Usuario:
        </label>
        <div class="col-sm-3">
          {{ form.username }}
        </div>
        {% if form.username.errors %}
          <div class="col-sm-6">
            <span class="help-block">{{ form.username.errors }}</span>
          </div>
        {% endif %}
      </div>
      <!-- ./username -->

      <!-- first_name -->
      <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
        <label class="text-right col-sm-3 control-label"  for="id_first_name">
          {% if form.first_name.errors %}
            <span class="label label-danger">Error</span>
          {% endif %}
          Nombre:
        </label>
        <div class="col-sm-3">
          {{ form.first_name }}
        </div>
        {% if form.first_name.errors %}
          <div class="col-sm-6">
            <span class="help-block">{{ form.first_name.errors }}</span>
          </div>
        {% endif %}
      </div>
      <!-- ./first_name -->

      <!-- last_name -->
      <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
        <label class="text-right col-sm-3 control-label"  for="id_last_name">
          {% if form.last_name.errors %}
            <span class="label label-danger">Error</span>
          {% endif %}
          Apellidos:
        </label>
        <div class="col-sm-3">
          {{ form.last_name }}
        </div>
        {% if form.last_name.errors %}
          <div class="col-sm-6">
            <span class="help-block">{{ form.last_name.errors }}</span>
          </div>
        {% endif %}
      </div>
      <!-- ./last_name -->

      <!-- email -->
      <div class="form-group {% if form.email.errors %}has-error{% endif %}">
        <label class="text-right col-sm-3 control-label"  for="id_email">
          {% if form.email.errors %}
            <span class="label label-danger">Error</span>
          {% endif %}
          Correo Elecrónico:
        </label>
        <div class="col-sm-3">
          {{ form.email }}
        </div>
        {% if form.email.errors %}
          <div class="col-sm-6">
            <span class="help-block">{{ form.email.errors }}</span>
          </div>
        {% endif %}
      </div>
      <!-- ./email -->

      <!-- password1 -->
      <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
        <label class="text-right col-sm-3 control-label"  for="id_password1">
          {% if form.password1.errors %}
            <span class="label label-danger">Error</span>
          {% endif %}
          Contraseña:
        </label>
        <div class="col-sm-3">
          {{ form.password1 }}
        </div>
        {% if form.password1.errors %}
          <div class="col-sm-6">
            <span class="help-block">{{ form.password1.errors }}</span>
          </div>
        {% endif %}
      </div>
      <!-- ./password1 -->

      <!-- password2 -->
      <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
        <label class="text-right col-sm-3 control-label"  for="id_password2">
          {% if form.password2.errors %}
            <span class="label label-danger">Error</span>
          {% endif %}
          Repetir contraseña:
        </label>
        <div class="col-sm-3">
          {{ form.password2 }}
        </div>
        {% if form.password2.errors %}
          <div class="col-sm-6">
            <span class="help-block">{{ form.password2.errors }}</span>
          </div>
        {% endif %}
      </div>
      <!-- ./password2 -->

      <!-- sitio -->
      <div class="form-group {% if form.sitio.errors %}has-error{% endif %}">
        <label class="text-right col-sm-3 control-label"  for="id_sitio">
          {% if form.sitio.errors %}
            <span class="label label-danger">Error</span>
          {% endif %}
          Sitio:
        </label>
        <div class="col-sm-3">
          {{ form.sitio }}
        </div>
        {% if form.sitio.errors %}
          <div class="col-sm-6">
            <span class="help-block">{{ form.sitio.errors }}</span>
          </div>
        {% endif %}
      </div>
      <!-- ./sitio -->

      <!-- activo -->
      <div class="checkbox">
        <div class="col-sm-3"></div>
        <label class="col-sm-9" for="id_activo">
          <input id="id_activo" checked="checked" type="checkbox" value="">
          <strong>Activo para el control de metas</strong>
        </label>
      </div>      
      <!-- ./activo -->

      <!-- puesto -->
      <div class="form-group {% if form.puesto.errors %}has-error{% endif %}">
        <label class="text-right col-sm-3 control-label"  for="id_puesto">
          {% if form.puesto.errors %}
            <span class="label label-danger">Error</span>
          {% endif %}
          Puesto:
        </label>
        <div class="col-sm-3">
          {{ form.puesto }}
        </div>
        {% if form.puesto.errors %}
          <div class="col-sm-6">
            <span class="help-block">{{ form.puesto.errors }}</span>
          </div>
        {% endif %}
      </div>
      <!-- ./puesto -->

      <div class="control-group col-md-12">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Guardar <strong>Meta del SPE</strong></button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock contenido %}