<footer class="page-footer purple">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Mejora Continua</h5>
        <p class="purple-text text-lighten-4">
          Mejorar un proceso es cambiarlo por otro, más eficaz, más eficiente y más adaptable. <strong>Calidad</strong>
          es sinónimo de <em>eficacia</em>. <strong>Productividad</strong> es sinónimo de <em>eficiencia</em>.
          <strong>Robustez</strong> es sinónimo de <em>adaptabilidad</em>.
        
        <br>
        
          Para una mejor experiencia le recomendamos que utilice el navegador
          <a class="purple-text text-lighten-5" href="http://www.google.com.mx/chrome/browser/desktop/index.html">
            Google Chrome <i class="tiny mdi-action-exit-to-app"></i> </a> o <a class="purple-text text-lighten-5" href="https://www.mozilla.org/es-MX/firefox/new/">
          Mozilla Firefox <i class="tiny mdi-action-exit-to-app"></i></a>.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Configuración</h5>
        <ul>
          <li><a class="white-text" href="#!">Ingreso</a></li>
          <li><a class="white-text" href="#!">Administración</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Enlaces</h5>
        <ul>
          <li><a class="white-text" href="http://ine.mx">INE - Página Oficial</a></li>
          <li><a class="white-text" href="http://intranet.ine.mx">Intranet</a></li>
          <li><a class="white-text" href="http://correo.ife.org.mx">Correo Institucional</a></li>
          <li><a class="white-text" href="">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Hecho en la <span class="purple-text text-lighten-3">Junta Local de Tlaxcala</span>
    </div>
  </div>
</footer>