{% extends "2014/metas/forms/evidencia.html" %}
{% load sgc %}

{% block formulario %}

<div class="form-group">
  <label class="col-sm-2 control-label" for="id_oficio">
    Oficio de comportamiento presupuestal
  </label>
  <div class="col-sm-8">
    {{ form.oficio }}
    <p class="help-block">
      Seleccione el archivo para esta evidencia,
      <em>preferentemente <strong>en formato PDF</strong></em>
    </p>
  </div>
</div>
    
<div class="form-group">
  <label class="col-sm-2 control-label" for="id_notificacion">
    Oficio  mediante el cual se  notifican los saldos negativos
  </label>
  <div class="col-sm-8">
    {{ form.notificacion }}
    <p class="help-block">
      Seleccione el archivo para esta evidencia,
      <em>preferentemente <strong>en formato PDF</strong></em>
    </p>
  </div>
</div>
    
{% endblock formulario %}