{% extends "2014/metas/forms/evidencia.html" %}
{% load sgc %}

{% block formulario %}

<div class="form-group">
  <label class="col-sm-2 control-label" for="id_oficios">
    Oficios de cronograma
  </label>
  <div class="col-sm-8">
    {{ form.oficios }}
    <p class="help-block">
      Seleccione el archivo para esta evidencia,
      <em>preferentemente <strong>en formato PDF</strong></em>
    </p>
  </div>
</div>
    
<div class="form-group">
  <label class="col-sm-2 control-label" for="id_bgd">
    Base Geográfica Digital enviada
  </label>
  <div class="col-sm-8">
    {{ form.bgd }}
    <p class="help-block">
      Seleccione el archivo para esta evidencia,
      <em>preferentemente <strong>en formato PDF</strong></em>
    </p>
  </div>
</div>
    
<div class="form-group">
  <label class="col-sm-2 control-label" for="id_oficio">
    Oficio de envío
  </label>
  <div class="col-sm-8">
    {{ form.oficio }}
    <p class="help-block">
      Seleccione el archivo para esta evidencia,
      <em>preferentemente <strong>en formato PDF</strong></em>
    </p>
  </div>
</div>
    
<div class="form-group">
  <label class="col-sm-2 control-label" for="id_complejos">
    Reporte de casos complejos
  </label>
  <div class="col-sm-8">
    {{ form.complejos }}
    <p class="help-block">
      Seleccione el archivo para esta evidencia,
      <em>preferentemente <strong>en formato PDF</strong></em>
    </p>
  </div>
</div>
    
<div class="form-group">
  <label class="col-sm-2 control-label" for="id_diferencias">
    Reporte de diferencias
  </label>
  <div class="col-sm-8">
    {{ form.diferencias }}
    <p class="help-block">
      Seleccione el archivo para esta evidencia,
      <em>preferentemente <strong>en formato PDF</strong></em>
    </p>
  </div>
</div>
    
{% endblock formulario %}