{# Template Distribución de FCPVF #}
{% extends "2014/base.html" %}
{% load sgc %}

{% block container_before %}
<div class="bs-header" id="content">
  <div class="container">
    <h1><span class="icon-rocket"></span> {{title}}</h1>
    <p>
      Asegurar que los formatos de Credencial para Votar están disponibles en 
      los MAC en la fecha asegurada es parte del compromiso que tiene el INE
      con los ciudadanos. Con este indicador nos aseguramos que cumplimos con
      nuestra parte de este compromiso.
    </p>
  </div>
</div>
{% include "2014/modulos/aviso2013.html" %}
{% endblock %}


{% block footer_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{{STATIC_URL}}2014/highcharts/modules/data.js"></script>
<script src="{{STATIC_URL}}2014/highcharts/themes/grid.js"></script>

<script>
$(function () {
	$('#grafica_tramo_local').highcharts({
	    title: {
	        text: 'Indicador «Distribución»',
	        x: -20 //center
	    },
        subtitle: {
            text: 'Distribución de FCPV (tramo local)',
            x: -20
        },
        xAxis: {
            categories: [{% for rem, data in tramo_local.items %}'{{rem|remesa}}'{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
            minorGridLineWidth: 0,
            labels: {
              rotation: -90,
              y: 25
            }
        },
        yAxis: {
            min: 0, max: 120,
            minorGridLineWidth: 0,
            title: {
                text: 'Tiempo en Horas'
            },
            plotBands: [
              { // Meta SGC
                from: 0,
                to: 48,
                color: 'rgba(68,170,213,0.1)',
                label: {
                  text: 'Meta SGC',
                  style: { color:'#606060' }
                }
              },
              { // Meta SGC
                from: 48,
                to: 72,
                color: 'rgba(255,0,255,0.2)',
                label: {
                  text: 'Meta Oficinas Centrales',
                  style: { color:'#606060' }
                }
              }
            ],
            tooltip: { formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+
                parseInt(this.y/3600) +' horas - '+ this.x.toLowerCase(); }} ,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'h.'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
            {
                name: 'Distrtito 01',
                data: [{% for rem, data in tramo_local.items %}{{data.1|horas}}{% if forloop.last %}{% else %},{% endif %}{% endfor %}]
            },
            {
                name: 'Distrtito 02',
                data: [{% for rem, data in tramo_local.items %}{{data.2|horas}}{% if forloop.last %}{% else %},{% endif %}{% endfor %}]
            },
                                            {
                name: 'Distrtito 03',
                data: [{% for rem, data in tramo_local.items %}{{data.3|horas}}{% if forloop.last %}{% else %},{% endif %}{% endfor %}]
            }
        ]
        });
    });
</script>
{% endblock footer_js %}

{% block contenido %}

<div class="col-sm-12">
  {% if perms.distribucion.add_envio %}
  <p>
    <a class="btn btn-lg btn-danger" href="{% url 'envio_paso1' %}">Agregar un envío</a>
  </p>
  {% endif %}
</div>

<div class="col-sm-12">

  <div id="grafica_tramo_local" style="min-width: 400px; height: 500px; margin: 0 auto"></div>

  <table id="data_tramo_local" class="table table-striped table-bordered table-hover">
    <caption>Tramo VRD - Disponible</caption>
    <thead>
      <tr>
        <th>Remesa</th>
        <th>Distrito 01</th>
        <th>Distrito 02</th>
        <th>Distrito 03</th>
      </tr>
    </thead>
    <tbody>
      {% for rem, data in tabla_local.items %}
      <tr>
        <td>{{rem|remesa}}</td>
        <td><a href="{% url 'envio_remesa' remesa=rem|remesa distrito=1 %}">{{data.1|txthoras}}</a></td>
        <td><a href="{% url 'envio_remesa' remesa=rem|remesa distrito=2 %}">{{data.2|txthoras}}</a></td>
        <td><a href="{% url 'envio_remesa' remesa=rem|remesa distrito=3 %}">{{data.3|txthoras}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock contenido %}
