 {{ wizard.form.management_form }}

    <div class="row">
      <div class="col-xs-2 text-right">
        <label class="control-label" for="distrito">Distrito</label>
      </div>
      <div class="col-xs-3">
        <div class="control-group">
          <div class="controls">
            <select class="form-control col-sm-4" id='id_distrito' name="distrito" onchange="dynamic_Select('/distribucion/distrito/', this.value)" />
              <option value="#">-- Seleccionar --</option>
              <option value="1">1: Apizaco - Distrito 01</option>
              <option value="2">2: Tlaxcala - Distrito 02</option>
              <option value="3">3: Zacatelco - Distrito 03</option>
            </select>
            {% if form.distrito.errors %}<div class="alert alert-danger">{{form.distrito.errors.0}}</div>{% endif%}
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-2 text-right">
        <label class="control-label text-right" for="mac">Módulos</label>
      </div>
      <div class="col-xs-5">
        <div id="txtModulos" class="control-group">
          <div class="controls">
            <div id="modulos"></div>
            {% if form.mac.errors %}<div class="alert alert-danger">{{form.mac.errors.0}}</div>{% endif%}
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-2 text-right">
        <label class="control-label" for="id_lote">Lote</lote>
      </div>
      <div class="col-xs-2">
        {{form.lote}}
        {% if form.lote.errors %}<div class="alert alert-danger">{{form.lote.errors.0}}</div>{% endif%}
        {% if form.lote.help_text %}<span class="help-block">{{form.lote.help_text|safe}}</span>{% endif %}
      </div>
      <div class="col-xs-offset-1 col-xs-2 text-right">
        <label class="control-label" for="id_num_prod">Número de Producción</lote>
      </div>
      <div class="col-xs-2">
        {{form.num_prod}}
        {% if form.num_prod.errors %}<div class="alert alert-danger">{{form.num_prod.errors.0}}</div>{% endif%}
        {% if form.num_prod.help_text %}<span class="help-block">{{form.num_prod.help_text|safe}}</span>{% endif %}
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="control-label" for="id_tipo_lote">Tipo de Lote</label>
      </div>
      <div class="col-md-3">
        {% for tipo in form.tipo_lote.field.choices %}
        <label class="radio-inline">
          <input type="radio"
            {% ifequal forloop.counter 1 %}
               checked="checked"
            {% endifequal %}
            id="id_tipo_lote_{{forloop.counter0}}"
            name="tipo_lote"
            value="{{tipo.0}}">
          {{tipo.0}}
        </label>
        {% endfor %}
        {% if form.tipo_lote.errors %}<div class="alert alert-danger">{{form.tipo_lote.errors.0}}</div>{% endif%}
        {% if form.tipo_lote.help_text %}<span class="help-block">{{form.tipo_lote.help_text|safe}}</span>{% endif %}
      </div>
      <div class="col-md-2 text-right">
        <label class="control-label">Tipo de Cinta</label>
      </div>
      <div class="col-md-4">
        {% for tipo in form.tipo_cinta.field.choices %}
        <label class="radio-inline">
          <input type="radio"
            {% ifequal forloop.counter 1 %}
               checked="checked"
            {% endifequal %}
            id="id_tipo_cinta_{{forloop.counter0}}"
            name="tipo_cinta"
            value="{{tipo.0}}"> {{tipo.1}}
        </label>
        {% endfor %}
        {% if form.tipo_cinta.errors %}<div class="alert alert-danger">{{form.tipo_cinta.errors.0}}</div>{% endif%}
        {% if form.tipo_cinta.help_text %}<span class="help-block">{{form.tipo_cinta.help_text|safe}}</span>{% endif %}
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-2 text-right">
        <label class="control-label" for="id_cajas">Cajas</lote>
      </div>
      <div class="col-xs-2">
        {{form.cajas}}
        {% if form.cajas.errors %}<div class="alert alert-danger">{{form.cajas.errors.0}}</div>{% endif%}
        {% if form.cajas.help_text %}<span class="help-block">{{form.cajas.help_text|safe}}</span>{% endif %}
      </div>
      <div class="col-xs-offset-1 col-xs-2 text-right">
        <label class="control-label" for="id_credenciales">Credenciales</lote>
      </div>
      <div class="col-xs-2">
        {{form.credenciales}}
        {% if form.credenciales.errors %}<div class="alert alert-danger">{{form.credenciales.errors}}</div>{% endif%}
        {% if form.credenciales.help_text %}<span class="help-block">{{form.credenciales.help_text|safe}}</span>{% endif %}
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-2 text-right">
        <label class="control-label" for="id_envio_cnd">Envío desde CND</lote>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <div class='input-group date' id='datetimepicker8' data-date-format="DD/MM/YYYY HH:mm">
            <input class="form-control" id="id_envio_cnd" name="envio_cnd" type="text">
            <span class="input-group-addon"><span class="icon-calendar"></span>
          </div>
          {% if form.envio_cnd.errors %}<div class="alert alert-danger">{{form.envio_cnd.errors.0}}</div>{% endif%}
          {% if form.envio_cnd.help_text %}<span class="help-block">{{form.envio_cnd.help_text|safe}}</span>{% endif %}
        </div>
      </div>
      <div class="col-xs-2 text-right">
        <label class="control-label" for="id_recibido_vrd">Recepción en VRD</lote>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <div class='input-group date' id='datetimepicker9' data-date-format="DD/MM/YYYY HH:mm">
            <input class="form-control" id="id_recibido_vrd" name="recibido_vrd" type="text">
            <span class="input-group-addon"><span class="icon-calendar"></span>
          </div>
          {% if form.recibido_vrd.errors %}<div class="alert alert-danger">{{form.recibido_vrd.errors.0}}</div>{% endif%}
          {% if form.recibido_vrd.help_text %}<span class="help-block">{{form.recibido_vrd.help_text|safe}}</span>{% endif %}
        </div>
      </div>
    </div>
    <hr>
