{# Template Lista de Avisos #}
{% extends "2014/base.html" %}
{% load sgc %}

{% block header_js %}
  {{ form.media }}
  <link rel="stylesheet" href="{{ STATIC_URL }}2014/css/flick/jquery-ui-1.10.4.custom.min.css">
{% endblock header_js %}

{% block footer_js %}
  <script src="{{ STATIC_URL }}2014/js/jquery-ui-1.10.4.custom.js"></script>
  <script src="{{ STATIC_URL }}2014/js/jquery.ui.datepicker-es.js"></script>
  <script src="{{ STATIC_URL }}2014/js/moment.js"></script>
  <script src="{{ MEDIA_URL }}js/tiny_mce/tiny_mce.js"></script>
  <script src="{% url "tinymce-js" "NAME" %}"></script>
  <script>
    $(function() {
      $( "#id_fecha" ).datepicker($.datepicker.regional[ "es" ]);
    });
  </script>
{% endblock %}

{% block container_before %}
<div class="bs-header" id="content">
  <div class="container">
    <h1><span class="icon-meter-fast"></span> Archivo de Evidencias</h1>
    <p>
      Verifique los datos del formulario antes de enviar.
    </p>
  </div>
</div>
{% endblock %}

{% block contenido %}

<div class="row">

  <div class="col-sm-12">
    <div class="jumbotron">
      <h1 style="margin-right:0;">Evidencia de la Meta {{ meta }}</h1>
      {{ meta.descripcion|safe }}
    </div>
  </div>


<div class="col-sm-12">
    {% if form.errors %}
    <div id="form-error">
      <p>
        Los datos no pudieron guardarse porque ocurrieron uno o más errores.<br />
        Por favor, reenvia la información despues de corregir lo siguiente:
      </p>
      <ul>
        {{ form.errors }}
      </ul>
    </div>
    {% endif %}
</div>

  
  <div class="col-sm-12">
    <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <label for="id_meta" class="col-sm-2 control-label">{{ form.meta.label }}</label>
        <div class="col-sm-2">
          {{ form.meta }}
        </div>
      </div>

      <div class="form-group">
        <label for="id_miembro" class="col-sm-2 control-label">{{ form.miembro.label }}</label>
        <div class="col-sm-3">
          {{ form.miembro }}
        </div>
      </div>

      <div class="form-group">
        <label for="id_fecha" class="col-sm-2 control-label">{{ form.fecha.label }}</label>
        <div class="col-sm-2">
          {{ form.fecha }}
        </div>
      </div>

      {% if meta.eval %}
        <div class="form-group">
          <label class="col-sm-2 control-label">Calidad</label>
          <div class="col-sm-5">
            {% for radio in form.eval_calidad %}
              <label class="radio-inline" for="{{ radio.id_for_label }}">
                {{ radio.choice_label }}
                <span class="radio">{{ radio.tag }}</span>
              </label>
            {% endfor %}
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Oportunidad</label>
          <div class="col-sm-5">
            {% for radio in form.eval_oportunidad %}
              <label class="radio-inline" for="{{ radio.id_for_label }}">
                {{ radio.choice_label }}
                <span class="radio">{{ radio.tag }}</span>
              </label>
            {% endfor %}
          </div>
        </div>       
      {% endif %}

      {% block formulario %}
      {% endblock formulario %}


    <div class="control-group">
      <div class="controls col-sm-offset-2">
        <button type="submit" class="btn btn-primary">
                Guardar <strong>Evidencia</strong>
        </button>
      </div>
    </div>  

    </form>
  </div>

</div>

{% endblock contenido %}