{% extends "2014/metas/forms/evidencia.html" %}
{% load sgc %}

{% block formulario %}

    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_correo">correo</label>
      <div class="col-sm-8">
        {{ form.correo }}
        <p class="help-block">
          Seleccione el archivo para esta evidencia, 
          <em>preferentemente <strong>en formato PDF</strong></em>
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_oficio">oficio</label>
      <div class="col-sm-8">
        {{ form.oficio }}
        <p class="help-block">
          Seleccione el archivo para esta evidencia, 
          <em>preferentemente <strong>en formato PDF</strong></em>
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_reportes">reportes ejercicios</label>
      <div class="col-sm-8">
        {{ form.reportes }}
        <p class="help-block">
          Seleccione el archivo para esta evidencia, 
          <em>preferentemente <strong>en formato PDF</strong></em>
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_descargas">descargas</label>
      <div class="col-sm-8">
        {{ form.descargas }}
        <p class="help-block">
          Seleccione el archivo para esta evidencia, 
          <em>preferentemente <strong>en formato PDF</strong></em>
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_lineamientos">lineamientos</label>
      <div class="col-sm-8">
        {{ form.lineamientos }}
        <p class="help-block">
          Seleccione el archivo para esta evidencia, 
          <em>preferentemente <strong>en formato PDF</strong></em>
        </p>
      </div>
    </div>
    
{% endblock formulario %}