{% extends "2014/metas/forms/evidencia.html" %}
{% load sgc %}

{% block formulario %}

    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_oficio_dce">Oficio de la DCE</label>
      <div class="col-sm-8">
        {{ form.oficio_dce }}
        <p class="help-block">
          Seleccione el archivo para esta evidencia, 
          <em>preferentemente <strong>en formato PDF</strong></em>
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_correo_bgd">Correo de envío de la BGD</label>
      <div class="col-sm-8">
        {{ form.correo_bgd }}
        <p class="help-block">
          Seleccione el archivo para esta evidencia, 
          <em>preferentemente <strong>en formato PDF</strong></em>
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_reporte_cc">Reporte de Casos Complejos</label>
      <div class="col-sm-8">
        {{ form.reporte_cc }}
        <p class="help-block">
          Seleccione el archivo para esta evidencia, 
          <em>preferentemente <strong>en formato PDF</strong></em>
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_reporte_dif">Reporte de diferencias</label>
      <div class="col-sm-8">
        {{ form.reporte_dif }}
        <p class="help-block">
          Seleccione el archivo para esta evidencia, 
          <em>preferentemente <strong>en formato PDF</strong></em>
        </p>
      </div>
    </div>
    
{% endblock formulario %}